.routes{
  margin-top: 90px;
}

.title-regular{
  font-family: "EudoxusSansRegular";
}
.title-light{
  font-family: "EudoxusSansLight";
}
.title-medium{
  font-family: "EudoxusSansMedium";
}
.title-bold{
  font-family: "EudoxusSansBold";
}
.title-extra-bold{
  font-family: "EudoxusSansExtraBold";
}
.title-extra-light{
  font-family: "EudoxusSansExtraLight";
}

